@page "/fetchdata"
@using ApiViewerBlazor.DTO
@inject HttpClient Http

<PageTitle>Fetch Shows Api Data</PageTitle>

<h1>Fetch Shows Api Data</h1>

@if (shows == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="shows-container">
        <div class="shows-header">
            <div>Id</div>
            <div>Name</div>
            <div>Casts</div>
        </div>
        @foreach (var show in this.shows)
        {
            <div class="shows-row-container">
                <div class="shows-row">
                    <div class="shows-cell-id">@show.Id</div>
                    <div class="shows-cell-name">@show.Name</div>
                    <button class="shows-cell-cast-expander" @onclick="() => OnExpandClick(show)">@GetCastExpanderCaption(show)</button>
                </div>
                <div class="@GetRowDetailsCss(show)">
                    <div class="casts-container">
                        <div class="casts-header">
                            <div>Id</div>
                            <div>Name</div>
                            <div>Birthday</div>
                        </div>
                        @foreach (var person in show.Persons)
                        {
                            <div class="casts-row-container">
                                <div class="casts-row">
                                    <div class="casts-cell-id">@person.Id</div>
                                    <div class="casts-cell-name">@person.Name</div>
                                    <div class="casts-cell-person">@person.Birthday</div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
